// Contact page (/contact)

#contact {
  .email-at {
    margin: 3em 0;

    p {
      margin: 0;
    }

    .inline-container {
      width: 100%;

      span:focus {
        display: inline-block;
        outline: none;
        border: 0;
        text-align: right;
      }
    }
  }
}

.inline {
  min-width: 150px;
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 15;
  outline: 0;
  border: 0;
  text-align: right;
}

.contact {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.contact-left,
.contact-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-right {
  align-items: flex-end; /* right side alignment */
}

.contact-image {
  width: 150px;
  height: auto;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .contact {
    flex-direction: column;
  }

  .contact-right {
    align-items: flex-start;
  }
}
