.title-home {
  background-image: url('/images/clouds.jpg');
  background-size: cover; /* fills the div */
  background-position: center bottom; /* keeps it centered */
  background-repeat: no-repeat;
  color: white;
}

.h2-home {
  color: white;
}
