.title-home {
  background-size: cover; /* fills the div */
  background-position: center bottom; /* keeps it centered */
  background-repeat: no-repeat;
  color: white;
}

.h2-home {
  color: white;
}

.home-quote {
  color: blue;
  border-left: 0px;
}

.home-quote p {
  background-color: rgba(255, 255, 255, 0.4); 
  padding: 0.5rem 0.75rem;
  border-radius: 2px;
}

@media (max-width: 768px) {
  .home-quote {
    padding: .5em 1em .5em 1em;
  }
}